.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--off-white);
}

.home-container {
  display: flex;
  flex: 1; /* Make container take up remaining vertical space */
  padding: 20px;
  gap: 20px;
  overflow: hidden; /* Prevent scrollbars on the main container */
}