:root {
  --olive-green-dark: #3d402b;
  --olive-green-light: #6b705c;
  --white: #ffffff;
  --off-white: #f4f4f4;
  --light-gray: #d3d3d3;
  --dark-gray: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: var(--white);
  color: var(--dark-gray);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}
