.map-view-wrapper {
  flex: 1; /* Let the map take up the remaining space */
  height: calc(100vh - 130px); /* Adjust height for padding and navbar */
  padding: 10px;
  min-width: 0; /* Prevent flexbox from overflowing */
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
}
