.submit-issue-page {
  min-height: 100vh;
  background-color: var(--olive-green-dark);
  padding: 2rem 1rem;
  color: var(--white);
}

.submit-issue-header h1 {
  font-size: 3rem;
  font-weight: bold;
}
